In [11]:
import pandas as pd

df_male = pd.read_csv('male.csv')

In [13]:
df_male.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [33]:
new_df = df_male[['footlength', 'Heightin', 'Weightlbs', 'balloffootcircumference']]
new_df.head()

   footlength  Heightin  Weightlbs  balloffootcircumference
0         273        71        180                      253
1         263        68        160                      245
2         270        68        205                      256
3         267        66        175                      262
4         305        77        213                      267

In [25]:
new_df.to_csv('male_clean.csv', index=False)

In [34]:
new_df.head()

   footlength  Heightin  Weightlbs  balloffootcircumference
0         273        71        180                      253
1         263        68        160                      245
2         270        68        205                      256
3         267        66        175                      262
4         305        77        213                      267

   footlength  Heightin  Weightlbs  balloffootcircumference  Hd  Stars
0         273        71        180                      253   0      0
1         263        68        160                      245   0      0
2         270        68        205                      256   0      0
3         267        66        175                      262   0      0
4         305        77        213                      267   0      0

In [28]:
df_male.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [29]:
new_df.head()

   footlength  Heightin  Weightlbs  balloffootcircumference  Hd  Stars
0         273        71        180                      253   0      0
1         263        68        160                      245   0      0
2         270        68        205                      256   0      0
3         267        66        175                      262   0      0
4         305        77        213                      267   0      0

In [32]:
new_df.drop('Hd')

KeyError: "['Hd'] not found in axis"

In [35]:
new_df.head()

   footlength  Heightin  Weightlbs  balloffootcircumference
0         273        71        180                      253
1         263        68        160                      245
2         270        68        205                      256
3         267        66        175                      262
4         305        77        213                      267

In [37]:
from maps import foot_length, foot_the_ball, sizes
for ind, row in new_df.iterrows():
    new_df.loc[ind, 'EUR Size'] = row ['footlength'] / 6.51

C:\Users\NYass\AppData\Local\Temp\ipykernel_9496\724956300.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[ind, 'EUR Size'] = row ['footlength'] / 6.51

In [38]:
new_df.head()

   footlength  Heightin  Weightlbs  balloffootcircumference   EUR Size
0         273        71        180                      253  41.935484
1         263        68        160                      245  40.399386
2         270        68        205                      256  41.474654
3         267        66        175                      262  41.013825
4         305        77        213                      267  46.850998

In [39]:
new_df.to_csv('male_clean.csv', index=False)